.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 49px;
  color: #798291;
  line-height: 49px;
  margin: 30px 0 20px 0;
}

.subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 49px;
  color: #798291;
  line-height: 49px;
  margin: 30px 0 20px 0;
}

.selection {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #97A0AF;
  line-height: 33px;
  max-width: 500px;
  margin: 0 auto;
}

.angular-google-map-container {
  height: 700px;
}

.dataList {
  width: 500px;
  height: 700px;
  float: left;
  overflow:hidden;
  overflow-y:scroll;
}

.selected {
  background-color: yellow;
}
