<!doctype html>
<html ng-app="app">

<head>
  <meta name="author" content="Shaun Johansen" />
  <meta name="description" content="MIRCS map prototype" />

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
  <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>

  <script src='lib/lodash/dist/lodash.js'></script>
  <script src='lib/angular-google-maps/dist/angular-google-maps.js'></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

  <script type="text/javascript" src="lib/js-xlsx/dist/xlsx.full.min.js"></script>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdy3FcPNyPfwPf7_vN_Fyz7sWmr_b2b7M"></script>

  <script src="components.js"></script>
  <script src="app.js"></script>
  <script src="map-controller.js"></script>
  <script src="spreadsheets.js"></script>
  <script src="partials/profiles.html"></script>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,600,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <center>
    <a ui-sref="map">Map</a> |
    <a ui-sref="profiles.John-Davison">Profiles</a> |
    <a ui-sref="historical-map">Historical Map</a>
  </center>
  <div ui-view></div>
</body>

</html>

<script type="text/ng-template" id="partials/map.html">
  <div ng-controller="MapController">
    <div class="title">MIRCS Map Prototype</div>

    <input class="searchBar" type="search" ng-model="searchQuery" placeholder="search records..." />

    <p>

      <div class="dataList">
        <div class="animate-repeat" ng-repeat="marker in addressMarkers | filter:filterFunction as filtered">
          <div id="anchor{{marker.id}}" ng-class="{selected: marker.id == selectedMarker.id}">
            <span ng-click="onMarkerRowClicked(marker)">{{marker.title}}</span>
            <pre>{{rowToString(marker.row)}}</pre>
          </div>
        </div>
        <div class="animate-repeat" ng-if="filtered.length === 0">
          <strong>No results found...</strong>
        </div>
      </div>

      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="mapOptions" bounds="map.bounds">
        <ui-gmap-markers models="filtered" coords="'self'" icon="'icon'" click="'onClick'">
          <ui-gmap-windows show="show">
            <div ng-non-bindable>{{title}}</div>
          </ui-gmap-windows>
        </ui-gmap-markers>
      </ui-gmap-google-map>
  </div>
</script>

<script type="text/ng-template" id="partials/profiles.html">
  <div>
    <div class="title">MIRCS Profiles</div>

    <ul>
      <p>
        <a ui-sref="profiles.John-Davison">John Davison</a>
      </p>
      <p>
        <a ui-sref="profiles.Robert-A-Guilford">Robert A. Guilford</a>
      </p>
      <p>
        <a ui-sref="profiles.Schwartzes">The Schwartzes</a>
      </p>
    </ul>

    <div ui-view></div>
  </div>
</script>

<script type="text/ng-template" id="partials/profiles.John-Davison.html">
  <div style="margin: 10px;">
    <h3>John Davison</h3>
    <img src="images/John-Davison_tree.png" width="40%" style="float:right; margin: 10px;" />
    <ul>
      <li>
        Country of Origin: Canada
      </li>
      <li>
        Religion: Presbyterian
      </li>
      <li>
        Nationality: Irish
      </li>
      <li>
        Business: Lumber, Building Materials, Shingles, Flour, Feed.
      </li>
      <li>
        Date of Birth: 1823
      </li>
    </ul>

    John Davison was a lumber merchant in Halifax, who owned the lumber mill, John Davison & Sons, on 18-44 North George and 117 Robie street. The lumber mill supplied most of the building materials for West End Halifax. The Davison merchant business included the sale of lumber, singles, flour, and feed in North End. In addition, John Davison also served as Justice of the Peace for the city. Davison died in his home on 56 Charles Street in 1911. Husband to Ada B. Davison they had eleven children together.
  </div>
</script>

<script type="text/ng-template" id="partials/profiles.Robert-A-Guilford.html">
  <div style="margin: 10px;">

    <h3>Robert A. Guilford</h3>

    <img src="images/Robert-A-Guilford_tree.png" width="40%" style="float:right; margin: 10px;" />
    <ul>
      <li>
        Nationality: English
      </li>
      <li>
        Year of Birth: 1857
      </li>
      <li>
        Occupation: Founder of Guildford Ltd.
      </li>
    </ul>


    <p>Robert A. Guilford was born in Halifax to Sarah Jane and Richard Guildford. Robert A. Guildford began his working career as a clerk in his 20’s and then later as a bookkeeper; a title he held for over ten years. Robert married Hellen Guildford, a Scottish national, and together they had six children together.
    </p>
    <p>Guildford was actively involved in the building of the Park Presbyterian Church, previously the Protestant Orphan’s Home located on John’s Lane and North Park Street from 1857-1883. In 1883, Guildford purchased the property and in new church was built opening in 1884. The church was moved and rebuilt in 1918 and again in 1920 into a larger church to accommodate the Presbyterian Park congregation. The church property was sold in 1925 and the site is now St. John’s United Church.
    </p>
    <p>In 1906 Robert founded Guildford ltd, which is now the largest insulation and contracting company in Atlantic Canada, and the oldest insulation contractor in North America. Robert A. Guildford had developed the company throughout the Great Depression. The company was led by his son Robert D. Guildford throughout the post-war era, after his death in 1944. In the 60’s and 70’s Alex D. Guildford was responsible for the company’s Atlantic expansion. In the 1980’s John D. Guildford became the forth generation to inherit the company. Guildford limited currently hold’s branches in Nova Scotia, New Brunswick and Newfoundland; the company’s head office is still located in Burnside Dartmouth.
    </p>


  </div>
</script>

<script type="text/ng-template" id="partials/profiles.Schwartzes.html">
  <div style="margin: 10px;">

    <h3>Snapshot of the Schwartzes</h3>

    <ul>
      <li>
        Country of Origin: Amsterdam, Kingdom of the Netherland
      </li>
      <li>
        Religion: Wesleyan Methodist
      </li>
      <li>
        Nationality: German
      </li>
      <li>
        Business: Coffee, Tea, and Spices Traders
      </li>
      <li>
        Years Active: 1841 through the 20th century
      </li>
    </ul>

    <h3>
      A Brief History of W.H. Schwartz & Sons Ltd.
    </h3>
    <img src="images/schwartz-coffee.png" width="300px" style="float:right; margin: 10px;" />
    <p>
      The Schwartz Family, of W.H. Schwartz & Sons Ltd, were tea, coffee and spice and condiments merchants. They manufactured a nationally famous mustard in the late 19th and through the 20th century, before being bought by McCormick & Co in 1984 (<a href="http://www.schwartz.co.uk/get-in-touch/our-history.aspx">http://www.schwartz.co.uk/get-in-touch/our-history.aspx</a>).
    </p>
    <p>
      This prosperous family originated with William Schwartz, a German immigrant who came to Nova Scotia from Amsterdam in the early part of the 19th century (Industry 67. 1967). Settling in Halifax, he brought with him a wealth of family recipes, which would later be used by his descendants in establishing W.H. Schwartz & Sons Ltd.
    </p>
    <div style="float:left;">
      <center>
        <img src="images/schwartz_william_founder.png" style="margin: 10px;" />
      </center>
      <p/>
      <center>
        <img src="images/schwartz_william_h_c - son of william e.png" style="margin: 10px;" />
      </center>
    </div>
    <p>
      It was in 1841 that the beginnings of a business dynasty emerged. William Henry Schwartz, son of William Schwartz began dealing coffee and compound spices from a shed on the family property. He continued this for several years, eventually gaining enough capital to purchase and operate a factory.
    </p>
    <p>
      William Henry Schwartz married Mary Larder, and the couple had five children – George (b. 1845); William Edwin (b. 1854); Frederick (b. 1859); Frances William (b. 1863) and Carrie (b.1865). The business continued to grow, grinding and selling coffee from their store on 56 Brunswick St, where the family also resided. By 1878, business was thriving and William H. decided to incorporate a company, with a name that reflected the family nature of the business. Thus W.H. Schwartz & Sons Ltd was born.
    </p>
    <p>
      Around 1880, the family acquired an additional space on Brunswick St., next door to their original building. They moved their residence to the new address of 58 Brunswick St., although business continued to be conducted in both their home and the factory at 56 Brunswick. The following year, W.H. Schwartz & Sons branched out into tea & spice sales, and acquired yet another space for this trade at 239 Barrington St. It was at this address that the products were sold, while the grinding process occurred on Brunswick. It was also around this time that the founder of the company passed away.
    </p>
    <p>
      Although the business continued to be operated by brothers George, Frederick and William E., it was William H’s second oldest who succeeded him as the head of the company, and who expanded the business even further. Whereas his father had originally dealt in compound spices (mixing pure spices such as ginger with other materials like cornmeal or flour), William E. became the first to sell pure spices (Industry ’67, 1967). They acquired more space on Brunswick St. for the factory, eventually occupying addresses 52 to 58. They maintained a sample room at 239 Barrington, where products could be viewed and purchased. In 1883, even their mother, Mary Schwartz, was listed as being a part owner of the business.
    </p>
    <img src="images/schwartz_william_e - son.png" style="float:right; margin: 10px;" />
    <p>
      In 1884, William E. married Margaret McLeod in Pictou County. The couple had two children, Herman (b. 1885) and Hugh W. (1888). Unfortunately, shortly after the birth of their second son, Margaret passed away. William E. remarried in 1891 to Jessie C. Chisholm, from Sunny Brae, Pictou County. The couple had five more children: Karl E. (b. 1892); William Henry Chisholm (b. 1896); Marjorie E. (b. 1898); Mary J. (b. 1899); and James A. (b. 1903)
    </p>
    <p>
      Under William E. Schwartz, the company continued to expand. In 1924, William Henry Chisholm succeeded his father as the President and Managing Director of the company. By this time, operations were sufficient enough as to warrant the opening of a Quebec based branch (<a href="http://www.lib.uwo.ca/programs/companyinformationcanada/ccc-whschwartz.htm">http://www.lib.uwo.ca/programs/companyinformationcanada/ccc-whschwartz.htm</a>). The management of this branch was given to William E.’s youngest son, James A. Schwartz. Under the management of these two brothers, W.H. Schwartz & Sons products reached 50 different countries by the 1930s.
    </p>
    <p>
      While sales temporarily interrupted in 1940s due to the onset of World War II (Industry ’67, 1967), a major move forward occurred in the years proceeding. 1967 saw W.H. Schwartz & Son partnered with the British owned Jenks Brothers Foods to create a new company, Schwartz Spices UK Ltd. This company continued independently until 1874, when Jenks Brothers was acquired by R. Paterson & Sons Ltd. By 1980, Schwartz became completely owned by R. Paterson & Sons, though it operated under the same “S” logo which it had since the 1930s (<a href="http://www.schwartz.co.uk/get-in-touch/our-history.aspx">http://www.schwartz.co.uk/get-in-touch/our-history.aspx</a>). In 1984 the Schwartz brand was bought by McCormick and Company, who continue to be the current owners today.
    </p>
    <p>
      <h3>A Glimpse of the Schwartz Family Tree</h3>
      <center><img src="images/The-Schwartzes_tree.png" width="60%" /></center>
    </p>

  </div>
</script>

<script type="text/ng-template" id="partials/historical-map.html">
  <div class="title">MIRCS Historical Map</div>
  <center>
    <div id="scroller" style="height: 700px; overflow: auto; margin: 10px;">
      <img ng-src="images/Walshes in Halifax [1879 map].jpg" style="max-width: 4000px; max-height: 2295px; position: -100px;" />
    </div>
  </center>
</script>
